.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color:gainsboro;
    color: black;
    text-align: center;
  }

  .contact{
    position: absolute;
    right: 35%;
    color:gray;

  }

 